#contacto{
    background-color: $col1;
    height: auto;
    margin: auto;
    padding: 5%;
    .contactoTitle{
        color: $col2;
        margin: auto;
        text-align: center;
        font-size: 3em;
        padding: 2%;
    }
    .form-group{
        width: 30%;
        margin: auto;
        .form-control{
            background-color: $col1;
            color: #fff;
        }
        .btn{
            background-color: $col2;
            margin-top: 10px;
            font-weight: 500;
        }
        .modal-content{
            background-color: $col1;
            color: #fff;
        }
    }
    label{
        color: $col2;
        font-weight: 500;
    }
}
